<div *ngIf="loading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
</div>
<br>

<!-- Profiles -->

<div *ngIf="subscribedUsers" class="container-fluid">
    <h3 class="text-center">Subscribed Users</h3>
    <div *ngFor="let user of subscribedUsers | paginate: { itemsPerPage: count, currentPage: page }">
        <br>
        <div class="row" >
    <div class="container col-md-6" style="padding-top: 15px;">
        <a routerLink="/profiles/{{user.id}}">
            <h4 class="list-group-item-heading" style="color:#00405d">{{ user.name }}</h4>
        </a>
    </div>
</div>
</div>
<div *ngIf="subscribedUsers.length == 0">
    <h2>No Subscription Yet</h2>
</div>
<!-- Pagination Control -->
<div class="text-right" *ngIf="subscribedUsers.length>count" >
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
</div>
