<br>
<div *ngIf="loading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
  </div>
<div  *ngIf="subscribedUsers">
    <div class="container-fluid" style="border: 1px solid #000" *ngFor="let user of subscribedUsers" >
        <a routerLink="/profiles/{{user.id}}"><div class="row">
            <h1>{{ user.name }}</h1>
        </div>
        </a>
    </div>
    
</div>
<div *ngIf="subscribedUsers.length == 0">
    <h2>No Subscription Yet</h2>
</div>
