<!-- Spinner -->
<div *ngIf="loading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
</div>
<br>

<!-- Profiles -->

<div *ngIf="subscribedUsers">

      <br><br>

      <div class="container" *ngIf="subscribedUsers.length > 0;else infoText">
        <div class="text-center">
            <h4 class="section-heading text-uppercase">Subscribed Profiles</h4>
            <p class="section-subheading text-muted">View your favourite profiles</p>
        </div>
        <br><br>
        <div class="row">
            <div class="col-lg-4" *ngFor="let user of subscribedUsers | paginate: { itemsPerPage: count, currentPage: page }">
                <div class="team-member">
                    <a routerLink="/profiles/{{user.id}}">
                    <img class="mx-auto rounded-circle" src="http://127.0.0.1:8000{{ user.profileImage }}" alt="..." />
                    <h4>{{user.name}}</h4></a>
                    <p class="text-muted">{{user.email}}</p>
                    <button class="btn-danger btn-sm" (click)="onUnsubscribe(user)" *ngIf="user.isSubscribed && user.id!=profile.id">Unsubscribe</button>
                    
                </div>
            </div>
            
        </div>
    
<div class="text-center" *ngIf="subscribedUsers.length == 0">
    <br>
    <br>
    <h2>No Subscription Yet! Subscribe your favourite users.</h2>
</div>
<!-- Pagination Control -->
<div class="text-right" *ngIf="subscribedUsers.length>count" >
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
</div>


<ng-template #infoText>
    <div class="text-center">
        <h2>No Subscription Yet! Subscribe your favourite users.</h2>
    </div>
  </ng-template>
  