
   <div class="wrapper" style="background-color: white;">
     <div class="h2 text-center">Quora</div>
     <div class="h4 text-muted text-center pt-2">Enter your Credentials</div>
     <form (ngSubmit)="onSubmit(f)" #f="ngForm">
       <div class="form-group">
         <label for="username">Username:</label>
         <input type="text" class="form-control" 
         id="username" placeholder=" Enter your username"
         ngModel name="username" required>
    </div>
    <div class="form-group">
      <label for="Password1">Password:</label>
      <input type="password" class="form-control" 
      id="password" placeholder=" Enter the password" 
      ngModel name="password" required>
    </div>       
    <button type="submit" class="btn btn-outline-primary btn-block text-center my-3">Log in</button>
    </form>
    <div class="text-center pt-3 text-muted" >Not a member?  <button class="btn btn-light"><b><a routerLink="/signup">Sign up</a></b></button></div>
    
  </div>
