<!-- Spinner -->
<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
  </div>
</div>
<!-- Profile -->
<div>
    <div><h1>{{profile.name}}</h1></div>
    <div><h5>{{profile.username}}</h5></div>
    <div>{{profile.email}}</div>
    <a routerLink="edit"><button class="btn btn-secondary">Edit Profile</button></a>
  <button class="btn btn-danger" (click)="onDelete()">Delete Profile</button>
</div>


<div>
  <h4>Posts</h4>
  <div *ngFor="let post of profilePosts">
    <div>
      <a routerLink="/posts/{{post.id}}">
        {{post.title}}
        {{post.body}}
      </a>

    </div>
  </div>
  <div *ngFor="let comment of profileComments">
    <h5>Comments</h5>
    {{comment.body}}
  </div>
</div>