<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Navbar</a>
    <a class="nav-link" routerLink="popular">Home <span class="sr-only">(current)</span></a>
    <a class="nav-link" routerLink="subscriptions">Subscriptions</a>    
    <a class="nav-link" routerLink="notifications">Notifications</a>
    <a class="nav-link" routerLink="profile">Profile</a>
  <li class="nav-item btn btn-outline">
        <a class="nav-link" *ngIf="!isLoggedIn" (click)="changeLogIn">Login</a>
      </li>
      <li class="nav-item btn btn-outline">
        <a class="nav-link" *ngIf="isLoggedIn" (click)="changeLogIn">Logout</a>
      </li>
  </nav>
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</body>
</html>