
<div class="container col-4">
    <div class="wrapper" style="font-size:15px">
        <div class="h2 text-center">Quora</div>
        <div class="h4 text-muted text-center pt-2">Enter your details</div>
    <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="profile-password">New Password</label>
            <input type="password" class="form-control"
            formControlName="password" >
            <span class="help-block" *ngIf="!resetPassword.controls['password'].valid && resetPassword.controls['password'].touched">Username should not be empty!</span>
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" 
            formControlName="confirmPassword">
            <span class="help-block" *ngIf="!resetPassword.controls['confirmPassword'].valid && resetPassword.controls['confirmPassword'].touched">Please enter a valid email!</span>
          </div>
    
          <button type="submit" [disabled]="!resetPassword.valid" class="btn btn-block btn-outline-primary text-center my-3" >Submit</button>
    
    </form>
    </div>
    
    </div>