<br>
<br>
<div class="container" style="height: 150%;width:100%">
<!-- Toggling between popular and subscribed -->
<div class="container">
  <div class="row">
    <div class="col" style="margin-left:20px;margin-right:10px">
      <a (click)="onPopularPosts()" >
        <button class="btn btn-primary" [ngClass]="{'active':!isSubscribed}">Popular Posts</button>
      </a>
      &nbsp;
      <a (click)="onSubscribedPosts()" >
        <button class="btn btn-primary" [ngClass]="{'active':isSubscribed}">Subscribed Posts</button>
      </a>
    </div>
    <!-- <ng-template #popular> -->
    <div class="col" style="margin-left:20px;margin-right:30px">
    </div>
  <!-- </ng-template> -->
   
    <div class="col" style="margin-right:20px;margin-left:10px;text-align:right">
      <a routerLink="/new">
        <button class="btn btn-success">Create New Post</button>
      </a>
    </div>
  </div>
</div>

<br>
<!-- Spinner -->
<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
  </div>
</div>
<!-- Search Bar -->
  <div class="container">
    <div class="d-flex form-inputs"> 
      <input class="form-control" type="text" [(ngModel)]="searchQuery"
      placeholder="Search Post" name="searchQuery" (ngModelChange)="search()"> 
      <button class="btn btn-dark">Search</button> 
    </div>
  </div>
<!-- Popular posts -->
<div *ngFor="let post of popularPosts | paginate:{ itemsPerPage: count, currentPage: page}">
  <br>
  <div class="row" >
    <div class="container col-md-6" style="border: 1px solid #000;padding-top: 15px;background-color:bisque">
      <a routerLink="{{post.id}}">
        <h4 class="list-group-item-heading list-group-item-dark">{{ post.title }}</h4>
      </a>
      <a routerLink="/profiles/{{post.owner.id}}">
        <h5>Made by <b>{{post.owner.name}}</b></h5>
      </a>
      <p>{{ post.body.slice(0,50) }}<span *ngIf="post.body.length>51">...</span></p>
      <div>
        <label for="file">Audience Rating:</label>
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-primary" role="progressbar" [ngStyle]="{width: post.vote_ratio + '%'}"  aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div><small><b>{{post.vote_ratio}}% Upvotes</b>({{ post.vote_total }})</small></div>
    </div>
  </div>
</div>
<!-- Pagination Control -->
<div class="text-right" *ngIf="popularPosts.length>count">
  <pagination-controls (pageChange)="page = $event" style="color:rgb(0, 0, 0)"></pagination-controls>
</div>

<router-outlet></router-outlet>
</div>
