
<div class="container col-4">
<div class="wrapper" style="font-size:15px">
    <div class="h2 text-center">Quora</div>
    <div class="h4 text-muted text-center pt-2">Enter your details</div>
    <div class="alert alert-secondary" *ngIf="message">{{message}}</div>

<form [formGroup]="forgotPassword" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="profile-username">Username</label>
        <input type="text" class="form-control"
        id="profile-username" placeholder=" Enter your username" 
        formControlName="username" >
        <span class="help-block" *ngIf="!forgotPassword.controls['username'].valid && forgotPassword.controls['username'].touched">Username should not be empty!</span>
      </div>
      <div class="form-group">
        <label for="profile-email">Email</label>
        <input type="text" class="form-control" 
        id="profile-email" placeholder=" Enter your email" 
        formControlName="email">
        <span class="help-block" *ngIf="!forgotPassword.controls['email'].valid && forgotPassword.controls['email'].touched">Please enter a valid email!</span>
      </div>

      <button type="submit" [disabled]="!forgotPassword.valid" class="btn btn-block btn-outline-primary text-center my-3" >Submit</button>

</form>
</div>

</div>