<div *ngIf="loading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
</div>
<br>
<!-- Search Bar -->
<div class="container">
    <div class="d-flex form-inputs"> 
      <input class="form-control" type="text" [(ngModel)]="searchQuery"
      placeholder="Search Post" name="searchQuery" (ngModelChange)="search()"> 
      <button class="btn btn-dark">Search</button> 
    </div>
  </div>
  <br>
  <!-- Profiles -->
<div class="container"  
*ngFor="let user of popularProfiles | paginate: { itemsPerPage: count, currentPage: page }" >
  <div *ngIf="user.id!=profile.id" style="border: 1px solid #000; padding: 15px">
    <a routerLink="{{user.id}}" [id]="user.id">
    <div>
      <h1>{{ user.name }}</h1>
      
    </div>
  </a>
  <div *ngIf="authService.isLoggedIn">
    <button class="btn-secondary" (click)="onSubscribe(user)" *ngIf="!user.isSubscribed">Subscribe</button>
    <button class="btn-danger" (click)="onSubscribe(user)" *ngIf="user.isSubscribed">Unsubscribe</button>
  </div>
</div>
</div>
<!-- Pagination Control -->
<div class="text-right" *ngIf="popularProfiles.length>count">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
<router-outlet></router-outlet>