<div *ngIf="loading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
</div>
<br>
<!-- Search Bar -->
<div class="container  col-md-8" >
  <div class="d-flex form-inputs"> 
    <input class="form-control" type="text" [(ngModel)]="searchQuery"
    placeholder="Search Profile" name="searchQuery" (ngModelChange)="search()"> 
    <button class="btn btn-dark">Search</button> 
  </div>
</div>
<br>
<!-- Profiles -->

<div class="container col-md-8" style="height: 100%;width:80%;">
  <h3>All Profiles</h3>
<div *ngFor="let user of popularProfiles | paginate:{ itemsPerPage: count, currentPage: page}">
  <br>
  <div class="row" >
    <div class="container-fluid" >
      <a routerLink="/profiles/{{user.id}}">
        <h4 class="list-group-item-heading btn"><b>{{ user.name }}</b></h4>
      </a>
      <div *ngIf="authService.isLoggedIn" >
        <button class="btn-secondary btn-sm" (click)="onSubscribe(user)" *ngIf="!user.isSubscribed">Subscribe</button>
        <button class="btn-danger btn-sm" (click)="onSubscribe(user)" *ngIf="user.isSubscribed">Unsubscribe</button>
      </div>
    </div>
  </div>
</div>
<!-- Pagination Control -->
<div class="text-right" *ngIf="popularProfiles.length>count" >
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
<router-outlet></router-outlet>
</div>
