<!-- Spinner -->
<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
  </div>
</div>
<!-- Post -->
<div class="container-fluid">
    <div>
      <h1>{{ post.title }}</h1>
      <small><p>Made by <b>{{post.owner.name}}</b></p></small>
    </div>
    
    <div class="container border col" style="display: flex">
      {{post.body}}
    </div>
    <br>
    <span class="badge rounded-pill bg-success"style="cursor: pointer;" (click)="vote('up')">Upvote</span>
    {{post.vote_ratio}}%
    <span class="badge rounded-pill bg-danger"style="cursor: pointer;" (click)="vote('down')">Downvote</span>
<!-- Comment Form -->
<br>
<br>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <input type="text" class="form-control" 
        id="comment" placeholder="Comment on this post"
        ngModel name="comment" required>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Comment</button>

    </form>
    <hr />
    <br>

<!-- Comments -->
<div *ngIf="comments.length>0; else infoText">
<!-- Spinner -->
<div *ngIf="loadingComments" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
  </div>
</div>
<!-- Comment List -->
  <div *ngFor="let comment of comments | paginate:{ itemsPerPage: count, currentPage: page}" >
    <div *ngIf="!comment.editCommentMode">

    <p><b>{{comment.body}}</b></p>
    <small> Made by <a routerLink="/profiles/{{comment.owner.id}}">{{ comment.owner.name }}</a></small>
    <div *ngIf="comment.owner.id==profile.id">
    <button type="button" class="btn btn-warning btn-sm" (click)="onEditComment(comment.id)" >Edit</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="modalService.open('Delete-comment')" (click)="DeleteInit(comment.id)">Delete</button>
    <div class="modal hidden">
      <jw-modal id="Delete-comment">
        <h1>Warning</h1>
        <h4>Are you sure you want to delete this comment?</h4>
        
        <button class="btn btn-secondary" (click)="modalService.close('Delete-comment');">Cancel</button>
        <button class="btn btn-danger" (click)="modalService.close('Delete-comment');" (click)="onDeleteComment()">Delete Comment</button>
      </jw-modal>
    </div>
  
  </div>
  </div>
  <div *ngIf="comment.editCommentMode">
    <form (ngSubmit)="onSubmitComment(f, comment.id)" #f="ngForm" >
      <div class="form-group">
        <input type="text" class="form-control" 
        id="comment" 
        [ngModel]="comment.body" name="comment">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!f.valid">Submit</button>
    </form>
</div>
<hr>
</div>
<!-- Pagination Control -->
<div class="text-right" *ngIf="comments.length>count">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
</div>
<ng-template #infoText>
  <p>No comments Yet! Be the first to comment.</p>
</ng-template>
<br />

<div *ngIf="post.owner['id'] == profile['id']">
  <a routerLink="edit"><button class="btn btn-secondary">Edit Post</button></a>
  <button class="btn btn-danger" (click)="modalService.open('Delete-post')">Delete Post</button>
</div>

</div>

<div class="modal hidden">
  <jw-modal id="Delete-post">
    <h1>Warning</h1>
    <h4>Are you sure you want to delete {{post.title}}?</h4>
    
    <button class="btn btn-secondary" (click)="modalService.close('Delete-post');">Cancel</button>
    <button class="btn btn-danger" (click)="modalService.close('Delete-post');" (click)="onDelete()">Delete Post</button>
  </jw-modal>
</div>
<div class="overlay hidden"></div>

