<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
  </div>
</div>
<br>
<div *ngIf="notifications.length>0; else infoText">
  <h4 class="text-center">All Notifications</h4>
  <br>
<div class="container" *ngFor="let notification of notifications">
  <div class="row" style="border: 1px solid #000;background-color:bisque; padding: 10px">{{notification.messages}}. &nbsp;
    <a routerLink="/posts/{{notification.post.id}}">Check it out</a>
  </div>
</div>
</div>
<ng-template #infoText>
  <h5>No notifications for you</h5>
</ng-template>