<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
  </div>
</div>
<br>
<div *ngIf="notifications.length>0; else infoText">
  <h4 class="text-center">All Notifications</h4>
  <br>
<div class="container" *ngFor="let notification of notifications">
  <div class="row" style=" padding: 10px;color:#080808">{{notification.messages}}. &nbsp;
    <a routerLink="/posts/{{notification.post.id}}" style="color:rgb(0, 0, 0)">Check it out</a>
  </div>
  <br>
</div>
</div>
<ng-template #infoText>
  <div class="text-center">
    <h5>No notifications for you</h5>
  </div>
</ng-template>